 .u-section-1 {
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 806px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-repeat: no-repeat;
    background-size: cover;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 566px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 441px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 261px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1474px;
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 900;
  font-size: 2.25rem;
  width: 361px;
  margin: 56px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 32px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 658px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 658px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px;
}

.u-section-2 .u-video-3 {
  min-height: 658px;
  filter: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-2 .u-layout-wrap-2 {
  margin-top: 31px;
  margin-bottom: 56px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 658px;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 658px;
}

.u-section-2 .u-container-layout-5 {
  padding: 20px;
}

.u-section-2 .u-video-6 {
  min-height: 658px;
  filter: none;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 543px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 543px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 543px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 543px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 955px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 416px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 416px;
  }

  .u-section-2 .u-video-3 {
    min-height: 418px;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-top: 38px;
    margin-bottom: 38px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 416px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 416px;
  }

  .u-section-2 .u-video-6 {
    min-height: 415px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1999px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 936px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 936px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 936px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 936px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1293px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 589px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 589px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 589px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 589px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1474px;
  margin-bottom: 0;
}

.u-section-3 .u-text-1 {
  font-weight: 900;
  font-size: 2.25rem;
  width: 361px;
  margin: 56px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 31px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 658px;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 658px;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px;
}

.u-section-3 .u-video-3 {
  min-height: 658px;
  filter: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-3 .u-layout-wrap-2 {
  margin-top: 32px;
  margin-bottom: 56px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 658px;
}

.u-section-3 .u-container-layout-4 {
  padding: 20px;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 658px;
}

.u-section-3 .u-container-layout-5 {
  padding: 20px;
}

.u-section-3 .u-video-6 {
  min-height: 658px;
  filter: none;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 543px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 543px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 543px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 543px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 955px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 416px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 416px;
  }

  .u-section-3 .u-video-3 {
    min-height: 418px;
  }

  .u-section-3 .u-layout-wrap-2 {
    margin-top: 38px;
    margin-bottom: 38px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 416px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 416px;
  }

  .u-section-3 .u-video-6 {
    min-height: 415px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1999px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 936px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 936px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 936px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 936px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1293px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 589px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 589px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 589px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 589px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1474px;
  margin-bottom: 0;
}

.u-section-4 .u-text-1 {
  font-weight: 900;
  font-size: 2.25rem;
  width: 361px;
  margin: 55px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 32px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 658px;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 658px;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px;
}

.u-section-4 .u-video-3 {
  min-height: 658px;
  filter: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-4 .u-layout-wrap-2 {
  margin-top: 32px;
  margin-bottom: 56px;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 658px;
}

.u-section-4 .u-container-layout-4 {
  padding: 20px;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 658px;
}

.u-section-4 .u-container-layout-5 {
  padding: 20px;
}

.u-section-4 .u-video-6 {
  min-height: 658px;
  filter: none;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 543px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 543px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 543px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 543px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 955px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 416px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 416px;
  }

  .u-section-4 .u-video-3 {
    min-height: 418px;
  }

  .u-section-4 .u-layout-wrap-2 {
    margin-top: 38px;
    margin-bottom: 38px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 416px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 416px;
  }

  .u-section-4 .u-video-6 {
    min-height: 415px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1999px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 936px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 936px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 936px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 936px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1293px;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 589px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 589px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 589px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 589px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1474px;
  margin-bottom: 0;
}

.u-section-5 .u-text-1 {
  font-weight: 900;
  font-size: 2.25rem;
  width: 462px;
  margin: 55px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 32px;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 658px;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 658px;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px;
}

.u-section-5 .u-video-3 {
  min-height: 658px;
  filter: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-5 .u-layout-wrap-2 {
  margin-top: 32px;
  margin-bottom: 56px;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 658px;
}

.u-section-5 .u-container-layout-4 {
  padding: 20px;
}

.u-section-5 .u-layout-cell-5 {
  min-height: 658px;
}

.u-section-5 .u-container-layout-5 {
  padding: 20px;
}

.u-section-5 .u-video-6 {
  min-height: 658px;
  filter: none;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-layout-cell-1 {
    min-height: 543px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 543px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 543px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 543px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 955px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 416px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 416px;
  }

  .u-section-5 .u-video-3 {
    min-height: 418px;
  }

  .u-section-5 .u-layout-wrap-2 {
    margin-top: 38px;
    margin-bottom: 38px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 416px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 416px;
  }

  .u-section-5 .u-video-6 {
    min-height: 415px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1999px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 936px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 936px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 936px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 936px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1293px;
  }

  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 589px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 589px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 589px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 589px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 785px;
  margin-bottom: 0;
}

.u-section-6 .u-text-1 {
  font-weight: 900;
  font-size: 2.25rem;
  margin: 30px auto 0;
}

.u-section-6 .u-gallery-1 {
  height: 641px;
  margin-top: 21px;
  margin-bottom: 50px;
}

.u-section-6 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-6 .u-gallery-item-1 {
  margin-right: 10px;
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-2 {
  margin-right: 10px;
}

.u-section-6 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-3 {
  margin-right: 10px;
}

.u-section-6 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-4 {
  margin-right: 10px;
}

.u-section-6 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-5 {
  margin-right: 10px;
}

.u-section-6 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-6 {
  margin-right: 10px;
}

.u-section-6 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-7 {
  margin-right: 10px;
}

.u-section-6 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-8 {
  margin-right: 10px;
}

.u-section-6 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-9 {
  margin-right: 10px;
}

.u-section-6 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-10 {
  margin-right: 10px;
}

.u-section-6 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-11 {
  margin-right: 10px;
}

.u-section-6 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-12 {
  margin-right: 10px;
}

.u-section-6 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-13 {
  margin-right: 10px;
}

.u-section-6 .u-over-slide-13 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-14 {
  margin-right: 10px;
}

.u-section-6 .u-over-slide-14 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-6 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 915px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 116px;
  }

  .u-section-6 .u-gallery-1 {
    height: 418px;
    margin-top: 81px;
    margin-bottom: 60px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 785px;
  margin-bottom: 0;
}

.u-section-7 .u-text-1 {
  font-weight: 900;
  font-size: 2.25rem;
  margin: 30px auto 0;
}

.u-section-7 .u-gallery-1 {
  height: 639px;
  margin-top: 21px;
  margin-bottom: 52px;
}

.u-section-7 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-7 .u-gallery-item-1 {
  margin-right: 10px;
}

.u-section-7 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-2 {
  margin-right: 10px;
}

.u-section-7 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-3 {
  margin-right: 10px;
}

.u-section-7 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-7 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 301px;
  right: 10px;
  padding: 4px;
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    margin-top: 116px;
    margin-bottom: 60px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 830px;
  margin-bottom: 0;
}

.u-section-8 .u-text-1 {
  font-weight: 900;
  font-size: 2.25rem;
  margin: 30px auto 0;
}

.u-section-8 .u-gallery-1 {
  height: 686px;
  margin-top: 21px;
  margin-bottom: 49px;
}

.u-section-8 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-8 .u-gallery-item-1 {
  margin-right: 10px;
}

.u-section-8 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-2 {
  margin-right: 10px;
}

.u-section-8 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-3 {
  margin-right: 10px;
}

.u-section-8 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-4 {
  margin-right: 10px;
}

.u-section-8 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-5 {
  margin-right: 10px;
}

.u-section-8 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-6 {
  margin-right: 10px;
}

.u-section-8 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-7 {
  margin-right: 10px;
}

.u-section-8 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-8 {
  margin-right: 10px;
}

.u-section-8 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-9 {
  margin-right: 10px;
}

.u-section-8 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-10 {
  margin-right: 10px;
}

.u-section-8 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-11 {
  margin-right: 10px;
}

.u-section-8 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-12 {
  margin-right: 10px;
}

.u-section-8 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-13 {
  margin-right: 10px;
}

.u-section-8 .u-over-slide-13 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-8 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    margin-top: 116px;
    margin-bottom: 60px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 785px;
  margin-bottom: 0;
}

.u-section-9 .u-text-1 {
  font-weight: 900;
  font-size: 2.25rem;
  margin: 30px auto 0;
}

.u-section-9 .u-gallery-1 {
  height: 641px;
  margin-top: 21px;
  margin-bottom: 50px;
}

.u-section-9 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-9 .u-gallery-item-1 {
  margin-right: 10px;
}

.u-section-9 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-gallery-item-2 {
  margin-right: 10px;
}

.u-section-9 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-gallery-item-3 {
  margin-right: 10px;
}

.u-section-9 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-gallery-item-4 {
  margin-right: 10px;
}

.u-section-9 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-gallery-item-5 {
  margin-right: 10px;
}

.u-section-9 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-gallery-item-6 {
  margin-right: 10px;
}

.u-section-9 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-gallery-item-7 {
  margin-right: 10px;
}

.u-section-9 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-gallery-item-8 {
  margin-right: 10px;
}

.u-section-9 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-9 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    margin-top: 116px;
    margin-bottom: 60px;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 785px;
  margin-bottom: 0;
}

.u-section-10 .u-text-1 {
  font-weight: 900;
  font-size: 2.25rem;
  margin: 30px auto 0;
}

.u-section-10 .u-gallery-1 {
  height: 641px;
  margin-top: 21px;
  margin-bottom: 50px;
}

.u-section-10 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-10 .u-gallery-item-1 {
  margin-right: 10px;
}

.u-section-10 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-10 .u-gallery-item-2 {
  margin-right: 10px;
}

.u-section-10 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-10 .u-gallery-item-3 {
  margin-right: 10px;
}

.u-section-10 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-10 .u-gallery-item-4 {
  margin-right: 10px;
}

.u-section-10 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-10 .u-gallery-item-5 {
  margin-right: 10px;
}

.u-section-10 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-10 .u-gallery-item-6 {
  margin-right: 10px;
}

.u-section-10 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-10 .u-gallery-item-7 {
  margin-right: 10px;
}

.u-section-10 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-10 .u-gallery-item-8 {
  margin-right: 10px;
}

.u-section-10 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-10 .u-gallery-item-9 {
  margin-right: 10px;
}

.u-section-10 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-10 .u-gallery-item-10 {
  margin-right: 10px;
}

.u-section-10 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-10 .u-gallery-item-11 {
  margin-right: 10px;
}

.u-section-10 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-10 .u-gallery-item-12 {
  margin-right: 10px;
}

.u-section-10 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-10 .u-gallery-item-13 {
  margin-right: 10px;
}

.u-section-10 .u-over-slide-13 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-10 .u-gallery-item-14 {
  margin-right: 10px;
}

.u-section-10 .u-over-slide-14 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-10 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-10 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

@media (max-width: 575px) {
  .u-section-10 .u-text-1 {
    margin-top: 116px;
    margin-bottom: 60px;
  }
} .u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 785px;
  margin-bottom: 0;
}

.u-section-11 .u-text-1 {
  font-weight: 900;
  font-size: 2.25rem;
  margin: 30px auto 0;
}

.u-section-11 .u-gallery-1 {
  height: 641px;
  margin-top: 21px;
  margin-bottom: 50px;
}

.u-section-11 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-11 .u-gallery-item-1 {
  margin-right: 10px;
}

.u-section-11 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-gallery-item-2 {
  margin-right: 10px;
}

.u-section-11 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-gallery-item-3 {
  margin-right: 10px;
}

.u-section-11 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-gallery-item-4 {
  margin-right: 10px;
}

.u-section-11 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-gallery-item-5 {
  margin-right: 10px;
}

.u-section-11 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-gallery-item-6 {
  margin-right: 10px;
}

.u-section-11 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-gallery-item-7 {
  margin-right: 10px;
}

.u-section-11 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-gallery-item-8 {
  margin-right: 10px;
}

.u-section-11 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-gallery-item-9 {
  margin-right: 10px;
}

.u-section-11 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-gallery-item-10 {
  margin-right: 10px;
}

.u-section-11 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-gallery-item-11 {
  margin-right: 10px;
}

.u-section-11 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-11 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

@media (max-width: 575px) {
  .u-section-11 .u-text-1 {
    margin-top: 116px;
    margin-bottom: 60px;
  }
} .u-section-12 {
  background-image: none;
}

.u-section-12 .u-sheet-1 {
  min-height: 785px;
  margin-bottom: 0;
}

.u-section-12 .u-text-1 {
  font-weight: 900;
  font-size: 2.25rem;
  margin: 28px auto 0;
}

.u-section-12 .u-gallery-1 {
  height: 641px;
  margin-top: 23px;
  margin-bottom: 50px;
}

.u-section-12 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-12 .u-gallery-item-1 {
  margin-right: 10px;
}

.u-section-12 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-12 .u-gallery-item-2 {
  margin-right: 10px;
}

.u-section-12 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-12 .u-gallery-item-3 {
  margin-right: 10px;
}

.u-section-12 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-12 .u-gallery-item-4 {
  margin-right: 10px;
}

.u-section-12 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-12 .u-gallery-item-5 {
  margin-right: 10px;
}

.u-section-12 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-12 .u-gallery-item-6 {
  margin-right: 10px;
}

.u-section-12 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-12 .u-gallery-item-7 {
  margin-right: 10px;
}

.u-section-12 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-12 .u-gallery-item-8 {
  margin-right: 10px;
}

.u-section-12 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-12 .u-gallery-item-9 {
  margin-right: 10px;
}

.u-section-12 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-12 .u-gallery-item-10 {
  margin-right: 10px;
}

.u-section-12 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-12 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-12 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

@media (max-width: 575px) {
  .u-section-12 .u-text-1 {
    margin-top: 116px;
    margin-bottom: 60px;
  }
} .u-section-13 {
  background-image: none;
}

.u-section-13 .u-sheet-1 {
  min-height: 785px;
  margin-bottom: 0;
}

.u-section-13 .u-text-1 {
  font-weight: 900;
  font-size: 2.25rem;
  margin: 28px auto 0;
}

.u-section-13 .u-gallery-1 {
  height: 641px;
  margin-top: 23px;
  margin-bottom: 50px;
}

.u-section-13 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-13 .u-gallery-item-1 {
  margin-right: 10px;
}

.u-section-13 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-13 .u-gallery-item-2 {
  margin-right: 10px;
}

.u-section-13 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-13 .u-gallery-item-3 {
  margin-right: 10px;
}

.u-section-13 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-13 .u-gallery-item-4 {
  margin-right: 10px;
}

.u-section-13 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-13 .u-gallery-item-5 {
  margin-right: 10px;
}

.u-section-13 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-13 .u-gallery-item-6 {
  margin-right: 10px;
}

.u-section-13 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-13 .u-gallery-item-7 {
  margin-right: 10px;
}

.u-section-13 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-13 .u-gallery-item-8 {
  margin-right: 10px;
}

.u-section-13 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-13 .u-gallery-item-9 {
  margin-right: 10px;
}

.u-section-13 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-13 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-13 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

@media (max-width: 575px) {
  .u-section-13 .u-text-1 {
    margin-top: 116px;
    margin-bottom: 60px;
  }
} .u-section-14 {
  background-image: none;
}

.u-section-14 .u-sheet-1 {
  min-height: 785px;
  margin-bottom: 0;
}

.u-section-14 .u-text-1 {
  font-weight: 900;
  font-size: 2.25rem;
  margin: 28px auto 0;
}

.u-section-14 .u-gallery-1 {
  height: 641px;
  margin-top: 23px;
  margin-bottom: 50px;
}

.u-section-14 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-14 .u-gallery-item-1 {
  margin-right: 10px;
}

.u-section-14 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-14 .u-gallery-item-2 {
  margin-right: 10px;
}

.u-section-14 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-14 .u-gallery-item-3 {
  margin-right: 10px;
}

.u-section-14 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-14 .u-gallery-item-4 {
  margin-right: 10px;
}

.u-section-14 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-14 .u-gallery-item-5 {
  margin-right: 10px;
}

.u-section-14 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-14 .u-gallery-item-6 {
  margin-right: 10px;
}

.u-section-14 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-14 .u-gallery-item-7 {
  margin-right: 10px;
}

.u-section-14 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-14 .u-gallery-item-8 {
  margin-right: 10px;
}

.u-section-14 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-14 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-14 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

@media (max-width: 575px) {
  .u-section-14 .u-text-1 {
    margin-top: 116px;
    margin-bottom: 60px;
  }
} .u-section-15 {
  background-image: none;
}

.u-section-15 .u-sheet-1 {
  min-height: 785px;
  margin-bottom: 0;
}

.u-section-15 .u-text-1 {
  font-weight: 900;
  font-size: 2.25rem;
  margin: 28px auto 0;
}

.u-section-15 .u-gallery-1 {
  height: 641px;
  margin-top: 23px;
  margin-bottom: 50px;
}

.u-section-15 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-15 .u-gallery-item-1 {
  margin-right: 10px;
}

.u-section-15 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-15 .u-gallery-item-2 {
  margin-right: 10px;
}

.u-section-15 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-15 .u-gallery-item-3 {
  margin-right: 10px;
}

.u-section-15 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-15 .u-gallery-item-4 {
  margin-right: 10px;
}

.u-section-15 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-15 .u-gallery-item-5 {
  margin-right: 10px;
}

.u-section-15 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-15 .u-gallery-item-6 {
  margin-right: 10px;
}

.u-section-15 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-15 .u-gallery-item-7 {
  margin-right: 10px;
}

.u-section-15 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-15 .u-gallery-item-8 {
  margin-right: 10px;
}

.u-section-15 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-15 .u-gallery-item-9 {
  margin-right: 10px;
}

.u-section-15 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-15 .u-gallery-item-10 {
  margin-right: 10px;
}

.u-section-15 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-15 .u-gallery-item-11 {
  margin-right: 10px;
}

.u-section-15 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-15 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-15 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

@media (max-width: 575px) {
  .u-section-15 .u-text-1 {
    margin-top: 116px;
    margin-bottom: 60px;
  }
}