 .u-section-1 {
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 676px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 557px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 602px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 401px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 263px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 690px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 68px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 540px;
  --radius: 50px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 29px 0;
}

.u-section-2 .u-btn-1 {
  --radius: 30px;
  background-image: none;
  margin: 7px auto 0 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 210px 1px 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-2 .u-video-1 {
  filter: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 540px;
  --radius: 50px;
}

.u-section-2 .u-container-layout-3 {
  padding: 27px 16px;
}

.u-section-2 .u-text-3 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0 22px 0 7px;
}

.u-section-2 .u-image-1 {
  width: 242px;
  height: 242px;
  --radius: 30px;
  background-size: 135%;
  margin: 60px auto 0 7px;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  margin: 20px 7px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 612px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 60px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 506px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 117px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }

  .u-section-2 .u-video-1 {
    min-height: 506px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 506px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 29px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    width: 214px;
    height: 214px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 474px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 59px;
    margin-bottom: 59px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 386px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 20px 21px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 0;
    margin-left: 4px;
    padding: 10px 24px 10px 23px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.125rem;
    font-weight: 700;
    margin-top: 50px;
    margin-right: 14px;
    margin-left: 4px;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 15px;
    margin-left: 4px;
  }

  .u-section-2 .u-video-1 {
    min-height: 386px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 386px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 28px;
  }

  .u-section-2 .u-text-3 {
    font-size: 3rem;
    width: auto;
    margin-right: 20px;
    margin-left: 30px;
  }

  .u-section-2 .u-image-1 {
    width: 156px;
    height: 156px;
    margin-top: 50px;
    margin-right: 15px;
    margin-left: auto;
  }

  .u-section-2 .u-text-4 {
    font-size: 0.875rem;
    width: auto;
    margin-right: 20px;
    margin-left: 36px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1444px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    width: 203px;
    height: 203px;
    margin-top: 40px;
    margin-right: 317px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1340px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 28px;
    margin-bottom: 57px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 363px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: 124px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 6px;
    margin-left: 0;
  }

  .u-section-2 .u-video-1 {
    min-height: 409px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 513px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .u-section-2 .u-text-3 {
    font-size: 3.75rem;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-image-1 {
    width: 259px;
    height: 259px;
    margin-top: 77px;
    margin-right: 65px;
    margin-left: 16px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.25rem;
    margin-top: 15px;
    margin-right: 108px;
    margin-left: 29px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 737px;
}

.u-section-3 .u-list-1 {
  margin: 60px 0;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(50% - 15px);
  grid-template-columns: repeat(2, calc(50% - 15px));
  min-height: 593px;
  --gap: 30px;
}

.u-section-3 .u-list-item-1 {
  --radius: 50px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
  background-size: cover;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px;
}

.u-section-3 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 39px auto 0;
}

.u-section-3 .u-text-1 {
  margin: 19px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 19px 35px 0;
}

.u-section-3 .u-list-item-2 {
  --radius: 50px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
  background-size: cover;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px;
}

.u-section-3 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 39px auto 0;
}

.u-section-3 .u-text-3 {
  margin: 19px auto 0;
}

.u-section-3 .u-text-4 {
  margin: 19px 35px 0;
}

.u-section-3 .u-list-item-3 {
  --radius: 50px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
  background-size: cover;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px;
}

.u-section-3 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 39px auto 0;
}

.u-section-3 .u-text-5 {
  margin: 19px auto 0;
}

.u-section-3 .u-text-6 {
  margin: 19px 35px 0;
}

.u-section-3 .u-list-item-4 {
  --radius: 50px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
  background-size: cover;
}

.u-section-3 .u-container-layout-4 {
  padding: 10px;
}

.u-section-3 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: 39px auto 0;
}

.u-section-3 .u-text-7 {
  margin: 19px auto 0;
}

.u-section-3 .u-text-8 {
  margin: 19px 35px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 727px;
  }

  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 587px;
    grid-gap: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 753px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 52px;
    margin-bottom: 52px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 650px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 30px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 0;
  }

  .u-section-3 .u-text-3 {
    width: auto;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding: 30px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 0;
  }

  .u-section-3 .u-text-5 {
    width: auto;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-4 {
    padding: 30px;
  }

  .u-section-3 .u-icon-4 {
    margin-top: 0;
  }

  .u-section-3 .u-text-7 {
    width: auto;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 40px;
    margin-right: 40px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-4 {
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 891px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    background-repeat: no-repeat;
    background-size: cover;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 400px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 347px;
}

.u-section-5 .u-text-1 {
  margin: 35px auto 0 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 210px 0 0;
}

.u-section-5 .u-text-3 {
  margin: 35px 210px 0 0;
}

.u-section-5 .u-text-4 {
  margin: 20px 210px 36px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-2 {
    margin-right: 10px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 10px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 1140px;
  margin-bottom: 0;
}

.u-section-6 .u-text-1 {
  margin: 60px auto 0 0;
}

.u-section-6 .u-gallery-1 {
  height: 966px;
  margin: 40px 0 50px;
}

.u-section-6 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  --gap: 30px;
}

.u-section-6 .u-back-image-1 {
  object-position: 52.35% 50%;
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-back-image-2 {
  object-position: 53.88% 50%;
}

.u-section-6 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-back-image-3 {
  object-position: 50% 3.6%;
}

.u-section-6 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-back-image-4 {
  object-position: 40.37% 50%;
}

.u-section-6 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-back-image-5 {
  object-position: 52.33% 50%;
}

.u-section-6 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 649px;
  }

  .u-section-6 .u-gallery-1 {
    height: 797px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-gap: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1150px;
  }

  .u-section-6 .u-gallery-1 {
    height: 1374px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2259px;
  }

  .u-section-6 .u-gallery-1 {
    height: 4122px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1520px;
  }

  .u-section-6 .u-gallery-1 {
    height: 2595px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 520px;
}

.u-section-7 .u-accordion-1 {
  width: 1140px;
  margin: 60px auto;
}

.u-section-7 .u-accordion-link-1 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 30px;
}

.u-section-7 .u-icon-1 {
  height: 40px;
  width: 40px;
  background-image: none;
  --radius: 10px;
  padding: 10px;
}

.u-section-7 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-accordion-link-2 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 30px;
}

.u-section-7 .u-icon-2 {
  height: 40px;
  width: 40px;
  background-image: none;
  --radius: 10px;
  padding: 10px;
}

.u-section-7 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-accordion-link-3 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 30px;
}

.u-section-7 .u-icon-3 {
  height: 40px;
  width: 40px;
  background-image: none;
  --radius: 10px;
  padding: 10px;
}

.u-section-7 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-accordion-link-4 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 30px;
}

.u-section-7 .u-icon-4 {
  height: 40px;
  width: 40px;
  background-image: none;
  --radius: 10px;
  padding: 10px;
}

.u-section-7 .u-accordion-pane-4 {
  min-height: 150px;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-accordion-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-accordion-1 {
    width: 720px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-accordion-1 {
    width: 540px;
  }

  .u-section-7 .u-accordion-link-1 {
    font-size: 1rem;
  }

  .u-section-7 .u-accordion-link-2 {
    font-size: 1rem;
  }

  .u-section-7 .u-accordion-link-3 {
    font-size: 1rem;
  }

  .u-section-7 .u-accordion-link-4 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 479px;
  }

  .u-section-7 .u-accordion-1 {
    width: 340px;
    margin-bottom: 20px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 615px;
}

.u-section-8 .u-text-1 {
  margin: 15px 818px 0 0;
}

.u-section-8 .u-form-1 {
  margin-top: 33px;
  margin-bottom: 32px;
  height: 456px;
}

.u-section-8 .u-input-1 {
  --radius: 30px;
}

.u-section-8 .u-input-2 {
  --radius: 30px;
}

.u-section-8 .u-input-3 {
  --radius: 30px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    margin-right: 618px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    margin-right: 398px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    margin-right: 218px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 576px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 18px;
  }

  .u-section-8 .u-form-1 {
    margin-bottom: 39px;
  }
}